# 파일명은 .env.development.local 또는 .env.production.local
# 둘 다 있을 시 .env.production.local 우선 적용

NODE_ENV=production or development
PORT=server port, 거의 3000

DB_HOST=rdb host, 거의 localhost
DB_PORT=rdb port, 거의 5432
DB_USER=rdb user, 거의 devuser
DB_PASS=rdb password, 거의 devpass
DB_NAME=rdb name, 거의 doowelldevdb

SESSION_SECRET=session secret key
SESSION_MAX_AGE_MS=session cookie max age in ms, 예: 604800000 -> 7일

CLOVA_API_KEY=clova api
