@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes wave-slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes bubble-rise {
    0% {
      transform: translateY(100px) scale(0.5);
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    100% {
      transform: translateY(-200px) scale(1.5);
      opacity: 0;
    }
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-700 {
    animation-delay: 700ms;
  }
}

html,
body {
  height: 100%;
}

body {
  @apply bg-[#F7F7F5] text-zinc-900;
}
